:root{
    --bg: lightblue;
    --heading: red;
    --link: blue;
    --bg-footer: blue;
    --text-footer: white;
}

body{
    padding: 5px;
    background: var(--bg);
    color: var(--text);
    font-size: 18px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    border-style: solid; 
    border-width: 2px;
    border-color: blue;

}

h1,h2,h3 {
    color: var(--heading);
}
a {
    color: var(--link);
    text-decoration: underline;
}

button {
    background: var(--primary);
    color:#FFFFFF;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
}

footer{
    background: var(--bg-footer);
    color: var(--text-footer);
}

#logo 
{
    float: left;
    margin-right: 10px;
    width: 100px;
    
}
#lazer
{
    width: 70px;
}
#fds
{
    width: 100px;
}
#gecil
{
    width: 480px;
}
