element.style {
}
{
    padding: 0,3rem;
    background-color: #567895;
}
*,*::before, *::after {
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}
:root{
    --bg: rgb(172, 191, 198);
    --heading: indigo;
    --link: blue;
    --bg-footer: teal;
    --text-footer: white;
}

body{
    padding: 5px;
    background: var(--bg);
    color: var(--text);
    font-size: 18px;
    line-height: 1.6;
    font-family: Atkinson Hyperlegible, OpenDyslexic, sans-serif;
    border-style: solid; 
    border-width: 2px;
    border-color: blue;

}

h1,h2,h3,h4 {
    color: var(--heading);
}
a {
    color: var(--link);
    text-decoration: underline;
}

button {
    background: var(--primary);
    color:#FFFFFF;
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
}

footer{
    bottom: 0;
    background: var(--bg-footer);
    color: var(--text-footer);
}

#logo 
{
    float: left;
    margin-right: 10px;
    width: 100px;
    
}
#lazer
{
    width: 250px;
}
#fds
{
    width: 250px;
}
#gecil
{
    width: 480px;
}
#Inoseb
{
    width: 480px
}